.container_content {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.container_content > h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary);
  padding: 0.8rem;
  border-radius: 30px;
}

.container_documents {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}
.container_documents > img {
  height: 80px;
}
.container_documents > h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary);
  text-align: center;
}
.container_documents > h3 {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--secondary);
  text-align: center;
}

.container_documents > .list_documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0;
  padding: 2rem;
  text-align: left;
  color: white;
  background-color: var(--primary);
  border-radius: 20px;
}

@media screen and (min-width: 991px) {
  .container_documents > .list_documents {
    width: 50%;
  }
}
