.equipe_container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  height: auto;
  width: 100%;
}
.img_equipe {
  width: 100%;
}
.text_container {
  width: 60%;
  text-align: center;
}
.equipe_container h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary);
}
.equipe_container p {
  font-size: 1rem;
  font-weight: 200;
}
.doc_ > h1 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary);
}
.doc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 3rem;
  text-decoration: none;
}
.docs_container > h1 {
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}
.img_container {
  border: 5px solid var(--primary);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.doc_container > a:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

.doc_container > h2 {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1rem;
}
@media screen and (min-width: 991px) {
  .equipe_container {
    height: auto;
    margin-top: 5rem;
  }

  .text_container {
    width: 60%;
  }
  .docs_container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .docs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-decoration: none;
  }
}
