@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #73c3ee;
  --secondary: rgb(31, 31, 31);
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5896b8;
}

.navbar-custom {
  background-color: var(--primary);
}
.navbar-brand > img {
  width: 150px;
}

.home_container {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_container img {
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
}
.home_container > h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
}
.services_container > .list_card {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 80%;

  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  margin: 1rem;

  padding: 2rem;
  text-align: justify;
}
.list_card img {
  height: auto;
  width: 3rem;
  align-self: center;
  margin: 1rem;
}
.list_card > h2 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: white;
  color: var(--primary);
  width: 350px;
  align-self: center;
  text-align: center;
  padding: 0.15rem;
  border-radius: 10px;
  height: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .services_container > .list_card {
    width: 500px;
    height: 600px;
    justify-content: flex-start;
    margin: 1rem;
    border-radius: 10px;
  }
  .services_container {
    flex-direction: row;
  }
}
/* CONTACT  */

.container_contact {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_contact > a {
  text-decoration: none;
  color: black;
}
.container_contact > a:hover {
  color: rgb(0, 140, 255);
}
.container_contact > h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary);
}
.container_contact > h2 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #242424;
}
.container_contact > h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary);
}
.map {
  width: 100%;
  text-align: center;
}

/* END CONTACT  */
footer {
  background-color: var(--primary);
  position: static;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  width: 100%;
  height: auto;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;
}
footer h4 {
  font-size: 0.8rem;
  font-weight: 200;
  color: white;
}
footer > h4 > a {
  text-decoration: none;
  color: white;
}
footer > h4 > a:hover {
  text-decoration: underline;
  color: var(--secondary);
}
